body {
    display: flex;
    justify-content: center;
}
#frame {
    width: 375px;
    height: 667px;
    /* width: 100%;
    height: 100%; */
    /* 青枠が出たら困るのでHTMLの選択禁止 */
    user-select: none;
    background-color: black;
}

.topWrapper {
    display: flex;
    height: 20%;
    align-items: center;
    /* 配置調整用 */
    background-color: antiquewhite;
}
.top {
    display: inline-flex;
    width: 100%;
    height: 60%;
    align-items: center;
    justify-content: space-between;
    /* 配置調整用 */
    /* background-color: red; */
}
.title {
    display: inline-flex;
    margin-left: 5%;
    margin-right: 10%;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.title text {
    font-family: "STKaiti", "HGP行書体", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
    font-size: 40px;
}
.turn {
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 20% 0 0 20% / 35% 0 0 35%;
    background-color: cadetblue;
}
.turn text {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.main {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 80%;
    /* background-color: burlywood; */
    background: linear-gradient(antiquewhite, burlywood);
}
.label {
    display: inline-flex;
    padding-top: 5%;
    height: 10%;
    flex-flow: column;
    align-items: center;
}
.label text {
    margin-left: 5%;
}
.label hr {
    margin: 0;
    width: 90%;
    color: burlywood;
	border-top: 2px dashed #8c8b8b;
}
.character {
    display: inline-flex;
    width: 100%;
    height: 50%;
}
.cell {
    display: flex;
    margin: 5%;
    width: 30%;
    height: 90%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    /* 配置調整用 */
    background-color: honeydew;
}
.cell span {
    font-size: 12px;
    margin-bottom: 30%;
}
.plus {
    width: 250%;
    height: auto;
}

.ui {
    display: inline-flex;
    padding-bottom: 5%;
    width: 100%;
    height: 45%;
    /* 配置調整用 */
    /* background-color: lightcoral; */
}
.qr {
    display: flex;
    width: 30%;
    height: 100%;
    align-items: flex-end;
    /* 配置調整用 */
    /* background-color: palegreen; */
}
.qrImgWrapper {
    display: flex;
    width: 100%;
    height: 50%;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 0 20% 20% 0 / 0 35% 35% 0;
}
.qrImgWrapper img {
    width: 100%;
    margin-right: 5%;
    /* height: 100%; */
}

.dice {
    display: flex;
    margin: 0 5% 0 5%;
    width: 30%;
    height: 100%;
    align-items: flex-end;
    /* 配置調整用 */
    /* background-color: bisque; */
}
.dice canvas {
    width: 100%;
    height: 80%
}

.mini {
    display: flex;
    width: 30%;
    height: 100%;
    flex-flow: column-reverse;
    align-items: flex-end;
    /* 配置調整用 */
    /* background-color: khaki; */
}
.miniIcon {
    display: flex;
    margin-bottom: 8%;
    width: 45%;
    height: 25%;
    align-items: center;
    justify-content: center;
    border-radius: 20% 0 0 20% / 35% 0 0 35%;
    background-color: white;
}
.miniIcon img {
    width: 85%;
    margin-left: 15%;
}
#setup {
    margin: 0;
}