#frame {
    width: 375px;
    height: 667px;
    background-color:antiquewhite;
}

.top {
    display: inline-flex;
    margin: 8% 0 5% 0;
    width: 100%;
    height: 12%;
    justify-content: space-between;
    /* 配置調整用 */
    /* background-color: pink; */
}
.title {
    display: flex;
    margin-left: 5%;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.title text {
    font-family: "STKaiti", "HGP行書体", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
    font-size: 40px;
}
.turn {
    display: flex;
    width: 35%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 20% 0 0 20% / 35% 0 0 35%;
    /* 配置調整用 */
    background-color: cadetblue;
}
.turn text {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.label {
    display: flex;
    padding-top: 5%;
    background-color: burlywood;
}
.label text {
    margin-left: 5%;
    background-color: aliceblue;
    border-radius: 5% 5% 5% 5% / 10% 10% 10% 10%;
}
.character {
    display: inline-flex;
    width: 100%;
    height: 35%;
    /* 配置調整用 */
    background-color: burlywood;
}
.cell {
    display: flex;
    margin: 5%;
    width: 30%;
    height: 80%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    /* 配置調整用 */
    background-color: honeydew;
}
.cell span {
    font-size: 12px;
    margin-bottom: 30%;
}
.plus {
    width: 250%;
    height: auto;
}

.ui {
    display: inline-flex;
    /* margin-top: 10%; */
    width: 100%;
    height: 35%;
    /* 配置調整用 */
    /* background-color: lightcoral; */
}
.qr {
    display: flex;
    width: 30%;
    height: 100%;
    align-items: flex-end;
    /* 配置調整用 */
    /* background-color: palegreen; */
}
.qrWrapper {
    display: flex;
    margin-bottom: 15%;
    width: 100%;
    height: 40%;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 0 20% 20% 0 / 0 35% 35% 0;
}
.qrWrapper img {
    width: 100%;
    margin-right: 5%;
    /* height: 100%; */
}

.dice {
    display: flex;
    margin: 0 5% 0 5%;
    width: 35%;
    height: 100%;
    /* 配置調整用 */
    /* background-color: bisque; */
}
.dice canvas {
    width: 100%;
}

.mini {
    display: flex;
    width: 30%;
    height: 100%;
    flex-flow: column-reverse;
    align-items: flex-end;
    /* 配置調整用 */
    /* background-color: khaki; */
}
.miniWrapper {
    display: flex;
    width: 55%;
    height: 20%;
    align-items: center;
    justify-content: center;
    border-radius: 20% 0 0 20% / 35% 0 0 35%;
    background-color: white;
}
.miniWrapper img {
    width: 90%;
    margin-left: 15%;
}
.home {
    margin-bottom: 5%;
}
.setup {
    margin-top: 5%;
    margin-bottom: 15%;
}
